:root{
  --mainWhite:#f3f3f3;
  --mainBlue:#2a2a72;
  --mainDark:#23232528;
  --mainYellow:#ffa400;
  --lightBlue:#009ffd;
  --mainRed: #ff0000;
  --mainnGreen:#0a5d00;
  --lightGreen:#1fc600;
}
body{
  font-family: 'Permanent Marker', cursive !important;
  background: var(--mainWhite) !important;
  /* color: var(--mainDark) !important; */
}

.text-title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

.header{
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.footer{

}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color:var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainRed);
}